<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyWebProject05</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>admin</display-name>
    <servlet-name>admin</servlet-name>
    <servlet-class>logan.study.web.UI.admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    <servlet-class>logan.study.service.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>logan.study.service.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_form</display-name>
    <servlet-name>delete_form</servlet-name>
    <servlet-class>logan.study.web.UI.delete_form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_form</servlet-name>
    <url-pattern>/delete_form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_form</display-name>
    <servlet-name>add_form</servlet-name>
    <servlet-class>logan.study.web.UI.add_form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_form</servlet-name>
    <url-pattern>/add_form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add</display-name>
    <servlet-name>add</servlet-name>
    <servlet-class>logan.study.service.add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>find_form</display-name>
    <servlet-name>find_form</servlet-name>
    <servlet-class>logan.study.web.UI.find_form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>find_form</servlet-name>
    <url-pattern>/find_form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>find</display-name>
    <servlet-name>find</servlet-name>
    <servlet-class>logan.study.service.find</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>find</servlet-name>
    <url-pattern>/find</url-pattern>
  </servlet-mapping>
</web-app>